body {
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
}
.heading {
  font-family: arial;
  padding: 10px 0;
  margin: 0 auto;
  background: rgba(217, 239, 242, 0.8);
}
h1,
h2,
h3,
footer {
  color: rgb(53, 53, 117);
  text-align: center;
}
h1 {
  margin: 0 auto;
  font-weight: 900;
  font-size: 50px;
}
h2 {
  font-size: 20px;
  margin: 20 auto 0 auto;
}
h3 {
  font-size: 14px;
  margin: 0 auto;
}
ul {
  text-align: center;
  padding: 0;
}
li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.city-pic {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
img {
  border-radius: 5px;
}
p {
  font-family: helvetica;
  color: rgb(53, 53, 117);
  width: 90%;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
}
button {
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  background-color: rgb(217, 239, 242);
  border: 1px solid rgb(53, 53, 117);
  color: rgb(53, 53, 117);
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
button:hover {
  color: rgb(217, 239, 242);
  background: rgb(53, 53, 117);
}
a {
  text-decoration: none;
}

.signature {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
